.spending-history{
     p{
          margin: 0px;
     }
     span{
          font-weight: normal;
     }
     .money-type{
          background: #FFFF;
          width: 100%;
          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 1rem;
     
          .money{
               margin-top: 1rem;
          }
          .image-s{
               width: 23px;
               height: 25px;
               margin-right: 5px;
          }
          .infor{
               margin-left: 25%;
               .type-time{
                    margin-bottom: 1rem;
                    .type{
                         margin-right: 10rem;
                    }
               }
               
          }
          .friend{
               margin-bottom: 0.5rem;
          }
     }
     .dele-set{
          margin-left: 2rem;
          padding-top: 2.5rem;
          .image-set{
               width: 35px;
          }
          .btn{
               margin-bottom: 2rem;
               background: #FFFF;
               padding: 3px;
               border-radius: 0.5rem;
          }
     }
}