.Home{
     padding: 2rem;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 812px;
     background: #ECF0F1;
     .spending{
          margin-bottom: 2rem;
          .money-spending{
               width: 30%;
               .total{
                    align-items: center;
                    width: 370px;
                    border-radius: 1rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    background: #73C6B6;
                    margin-bottom: 1.5rem;
                    .title{
                         margin-top: 1rem;
                         // border: 2px solid black;
                         width: 140px;
                         padding: 0.5rem;
                    }
                    .money{
                         margin-top: 1rem;
                         // margin-left: 7rem;
                         padding: 0.5rem;
                         border-radius: 0.5rem;
                         background: #ffff;
                    }
               }
          }
     }
     .react-calendar{
          border-radius: 1rem;
          padding: 0.5rem;
          width: 450px;
          max-width: 100%;
          margin-left: 3rem;
     }
     .react-calendar__navigation{
          background:#73C6B6;
          border-radius: 1rem;
     }
}
