.income{
    font-size: 1.2rem;
}

.card {
    border-radius: 10px;
  }


  .card-div{
    margin-top: 4px;
    margin-bottom: 4px;
  }

  @media only screen and (max-width: 1084px) and (orientation: landscape) {
    .card-div {
      display: block;
    }
  }

  .card-info{
    color: #548b80;
    font-weight: 700;
  }
  
.react-calendar {
    border-radius: 10px;
    padding: 0.5rem;
    width: 450px;
    max-width: 100%;
    margin-left: 1rem;
  }
.react-calendar__navigation {
    background: #73C6B6;
    border-radius: 10px;
  }

  /* .calend {
    margin-right: 1rem;
  } */
  
  @media (min-width: 768px) {
    .calend {
      margin-right: 4rem;
    }
  }
.home{
  overflow: auto;
}