.Navbar{
    width: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 100%;
    align-items: center;
    background: #73C6B6;
    backdrop-filter: blur(10px);
    .menu-items{
        border-radius: 1rem;
        text-align: center;
        li{
            list-style-type: none;
            height: auto;
            margin: 1rem;
            cursor: pointer;
            text-align: center;
            width: 47px;
            border-radius: 0.5rem;
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
        }
        img{
            width: 40px;
           
            border-radius: 0.5rem;
        }
        
        
    }
}