.form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-text {
    font-size: 0.875rem;
    color: #1b10ee;
  }
  
  .btn-primary {
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  .error{
    color: red;
  }
  .forgot-pass{
    width: 500px;
  }
  .back-login{
    color: black;
  }
  .back-login:hover{
    font-weight: 700;
  }