/* .App{
    font-family: 'Nunito', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    color: rgba(34, 34, 96, .6);
}
h1, h2, h3, h4, h5, h6{
    color: #222260;
}
body{
    background-color: rgba(244, 239, 243, 1);
    backdrop-filter: blur(4.5px);
} */