.App{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border-radius: 2rem;
    width: auto;
    height: 690px;
    margin: 0.5rem;
}
h1, h2, h3, h4, h5, h6{
    color: #222260;
}
body{
    backdrop-filter: blur(4.5px);
    font-family: cursive;
}
