.App{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border-radius: 1rem;
    width: auto;
    height: 713px;
}
h1, h2, h3, h4, h5, h6{
    color: #222260;
}
body{
    backdrop-filter: blur(10px);
    font-family: cursive;
    /* background-image: url('src/assets/home-01.jpg'); */
    background: #73C6B6;
}
